<div class="min-vh-100 text-light position-relative overflow-hidden">
  <!-- Hero -->
  <section class="vh-100 d-flex flex-column justify-content-center align-items-center text-center position-relative">
    <h1 class="display-3 fw-bold text-white  animate-fade-in-up principal">Nuestros</h1>
    <h1 class="display-3 fw-bold text-white mb-4 animate-fade-in-up principal2">Servicios</h1>
    <button (click)="scrollToServices()" class="btn btn-outline-light rounded-circle p-3 animate-bounce-slow">
      <i class="bi bi-arrow-down"></i>
    </button>
  </section>

  <!-- Carruseles -->
<section #servicesSection class="pt-4 position-relative">
  <div *ngFor="let servicio of servicios; let i = index" class="vh-100 d-flex flex-column justify-content-center px-2 animate-fade-in-up">
    <h2 class="text-uppercase text-center text-light mb-4">{{ servicio.nombre }}</h2>

    <div class="d-flex justify-content-center align-items-center position-relative">
      <!-- Flecha izquierda -->
      <button (click)="prevImage(i)" class="btn btn-outline-light rounded-circle position-absolute z-2"
              style="left: 5%;">
        <i class="bi bi-chevron-left"></i>
      </button>

      <!-- Carrusel -->
      <div class="d-flex gap-4 overflow-hidden px-4">
        <div *ngFor="let image of getVisibleImages(i)" class="carousel-card-wrapper">
          <div class="carousel-card">
            <img [src]="image.src" [alt]="image.alt" class="carousel-img">
            <div class="carousel-overlay">
              <h5 class="mb-1">{{ servicio.nombre }}</h5>
              <p class="mb-0">{{ servicio.nombre }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Flecha derecha -->
      <button (click)="nextImage(i)" class="btn btn-outline-light rounded-circle position-absolute z-2"
              style="right: 5%;">
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>

    <!-- Indicadores -->
    <div class="text-center mt-3">
      <button *ngFor="let img of servicio.imagenes; let j = index"
              (click)="goToImage(i, j)"
              class="btn btn-sm rounded-circle mx-1"
              [class.btn-light]="j === currentIndexes[i]"
              [class.btn-outline-light]="j !== currentIndexes[i]">
      </button>
    </div>
  </div>
</section>
</div>