<!-- Fondo rotador fijo -->
<div class="background-rotator" [ngStyle]="{ 'background-image': currentBackground }"></div>

<!-- Logo animado tipo splash -->
<div #splashLogo class="logo-container" *ngIf="showSplash">
  <img src="images/logo.png" alt="Logo" class="logo" />
</div>

<!-- Header con logo fijo en el centro -->
<header class="main-header">
  <h1 class="nav-item">Servicios</h1>

  <div #logoTarget class="header-logo-wrapper">
    <img *ngIf="!showSplash" src="images/logo.png" alt="Logo" class="header-logo nav-item" />
  </div>

  <h1 class="nav-item">Sobre mí</h1>
</header>

<!-- Contenido -->
<div class="main-content" *ngIf="!showSplash">
  <router-outlet></router-outlet>
</div>