<!-- Fondo rotador fijo -->
<!-- Fondo actual -->
<div class="background-rotator" [style.backgroundImage]="currentBackground"></div>

<!-- Logo animado tipo splash -->
<div #splashLogo class="logo-container" *ngIf="showSplash">
  <img *ngIf="esta" src="images/logo.png" alt="Logo" class="logo" />
</div>

<!-- Header con logo fijo en el centro -->
<header class="main-header" >
  <h1 class="nav-item">Servicios</h1>

  <!-- Logo destino siempre visible pero transparente durante splash -->
  <div #logoTarget class="header-logo-wrapper">
    <img src="images/logo.png" alt="Logo" class="header-logo nav-item" [style.opacity]="showSplash ? 0 : 1"
      [style.transition]="'opacity 0.5s ease-in-out'" />
  </div>

  <h1 class="nav-item">Sobre mí</h1>
</header>

<!-- Contenido -->
<div class="main-content" *ngIf="!showSplash">
  <router-outlet />
</div>