<section class="contact-section">
  <h1 class="text-center">Contáctanos</h1>

  <div class="email-form-container">
    <h2>Formulario de Contacto</h2>

    <form (ngSubmit)="sendEmail()" #form="ngForm">
      <label for="name">Nombre:</label>
      <input id="name" type="text" name="name" [(ngModel)]="formData.name" required placeholder="Ingresa tu Nombre"/>

      <label for="email">Correo:</label>
      <input id="email" type="email" name="email" [(ngModel)]="formData.email" required placeholder="Ingresa tu correo electronico"/>

      <label for="message">Mensaje:</label>
      <textarea id="message" name="message" [(ngModel)]="formData.message" required rows="4" placeholder="Escribe tu peticion o pregunta y te contactaremos lo mas pronto posible"></textarea>

      <button type="submit" class="btn" [disabled]="form.invalid || cargando">
        {{ cargando ? 'Enviando...' : 'Enviar' }}
        <span *ngIf="cargando" class="spinner"></span>
      </button>
    </form>

    <div class="modal-overlay" *ngIf="showModal">
      <div class="modal-box">
        <h3>¡Mensaje enviado!</h3>
        <p>Gracias por contactarnos. Te responderemos pronto.</p>
        <button class="btn-modal" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</section>