
/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: 'principal';
  src: url('/fonts/HATTEN.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
